* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    transition: 0.3s;

}

body{
    background: hsl(347, 58%, 95%);
}

nav{
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position:fixed;
    width: 100%;
}

.logo {
    height: 80%;
    width: auto;
}

nav ul{
    display: flex;
    list-style: none;

}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    margin: 0 30px;
    display:block;


}
nav ul li a:hover, nav ul li a.active{
    color: brown;
}

.filler {
    height: 80px;
}

.burger div{
    width:25px;
    height:2px;
    margin:5px;
    background-color: rgb(195, 131, 131);
    display:none;
}

.burger {
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    
    nav {
        position: static;
        height: 11vh;
        padding: 0 12%;

    }
    .filler {
        height:0px;
    }

    .nav-links {
        position:absolute;
        justify-content: space-around;
        right:0px;
        height:89vh;
        top: 11vh;
        background-color: white;
        display:flex;
        flex-direction: column;
        width: 50%;
        transform: translate(100%);

    }
    .nav-links li{
        opacity:0;
    }
    .nav-links li a{
        font-size: 15px;
    }
    .burger div{
        display:block;
    }

    .nav-active {
        transform: translate(0%);
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform:translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .one{
    transform: rotate(-45deg) translate(-5px,5px);
    height: 3px;
}
.toggle .two{
    opacity: 0;
}
.toggle .three{
    transform: rotate(45deg) translate(-5px,-5px);
    height: 3px;
}


