* {
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    box-sizing:border-box;
    transition: 0.2s;

}


body{
    background: hsl(347, 58%, 95%);
    overflow-x: scroll;
}

html{
    scroll-behavior: smooth;
}

nav{
    z-index: 99;
    height: 80px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    position:fixed;
    width: 100%;
    transition: top 0.3s ease-in-out;
}

.logo {
    height: 80%;
    width: auto;
}

nav ul{
    display: flex;
    list-style: none;

}
nav ul li a{
    color: #080808;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 4px;
    margin: 0 30px;
    display:block;


}

nav ul li a:hover, 
nav ul li a.nav-active{
    color: rgb(195, 131, 131);
    font-weight: bolder;
    cursor: pointer;
        

}

.filler {
    height: 80px;
}

.burger div{
    width:25px;
    height:2px;
    margin:5px;
    background-color: rgb(195, 131, 131);
    display:none;
}

.burger {
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.section1 {
    display:flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-left: auto; margin-right:auto;
    max-width: 60%;
    align-items: center;
}

.section1 h3{
    font-size: 28px;
    color: rgb(132, 76, 88);
    line-height: 50px;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align:center;
    
}

.section1 p{
    color: rgb(132, 76, 88);
    font-size: 20px;
    font-family:'Philosopher', serif;
    text-align:center;
    line-height: 35px;
    border-top: 1px solid rgb(132, 76, 88);
    border-bottom: 1px solid rgb(132, 76, 88);
}
.pic {
    width: 200px;
    height: auto;
    border-radius:50%;
    margin: 40px 0px;
}

.mySlides {
    background: linear-gradient(to right, hsl(347, 58%, 95%),
    white, white, white, 
    white, white, white,
    white, white, white,
    hsl(347, 58%, 95%));
    text-align: center;
    padding-bottom:30px;
}

.mySlides img {
    vertical-align: middle;
    height:400px;
    width:auto;
}

#slideshow-container {
    position: relative;
    width:80%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

/* Caption text */
.text {
    color: rgb(132, 76, 88);
    font-size: 18px;
    padding:20px 0;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  width: auto;
  top: 52%;
  color: rgb(195, 131, 145);
  font-weight: bold;
  font-size: 50px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;
  padding: 0 15px;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 20px;
    border-radius: 5% 0 0 5%;
}

.prev {
    left: 20px;
    border-radius: 5% 0 0 5%;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color:rgb(132, 76, 88);
    color: hsl(347, 58%, 95%)
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 17px 5px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot-active, .dot:hover {
  background-color: rgb(195, 131, 131);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 375px) {
  .prev, .next{font-size: 30px;}

  .text{font-size: 15px;}
}


.view-all{
    display: flex;
    width:fit-content;
    margin: 50px auto;
    text-decoration: none;
    font-size: 20px;
    color: rgb(132, 76, 88);
    padding-bottom: 4px;
    text-align: center;
    border-bottom: 1px solid rgb(132, 76, 88);

}
.view-all:hover{
    border-bottom: 1px solid black;
    color: black;
    font-size:22px;
    cursor: pointer;
}

.feat, .about-me {
    display: flex;
    margin:auto;
    height: 80px;
    width:100%;
    background-color:rgb(195, 131, 145);
}

.feat p, .about-me p{
    color: #fff;
    font-size:25px;
    font-weight: 100;
    font-family:'Philosopher', serif;
    margin: auto;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.bio {
    margin:30px auto;
    display:flex;
    max-width: 800px;
}

.bio p{
    text-align: center;
    padding: 20px 20px;
    line-height: 25px;
    font-size: 18px;
    color: rgb(132, 76, 88);
    word-spacing: 2px;

}

.footer{
    background-color: rgb(132, 76, 88);
    padding:30px;
    height: 260px;

}

.footer h3{
    font-size: 30px;
    text-transform: uppercase;
    color:#fff;
    margin-bottom:40px;
}


.footer p{
    font-size:18px;
    margin: 30px auto auto auto;
    color:#fff;
}

#pin{
    margin-right: 5px;
}
.socials{
    margin:10px 0 0px;
    display:flex;
    list-style: none;
}

.socials li a{
    margin-right:35px;
}
.socials li a i{
    color:#fff;
    width:25px;
}
#copy{
    font-size: 15px;
    text-align: center;
}

.copyright i{
    margin-right:4px;
}


@media screen and (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
    nav {
        top: 0;
        height: 11vh;
        padding: 0 12%;

    }
    nav.hidden {
        top: -100px;
    }
    .filler{
        height: 11vh;
    }
    .nav-links {
        position:absolute;
        justify-content: space-around;
        right:0px;
        height:89vh;
        top: 11vh;
        background-color: white;
        display:flex;
        flex-direction: column;
        width: 50%;
        transform: translate(100%);

    }
    .nav-links li{
        opacity:0;
    }
    .nav-links li a{
        font-size: 15px;
    }
    .burger div{
        display:block;
    }
    .nav-active {
        transform: translate(0%);
    }
    .section1 h3 {
        font-size: 20px;
    }
    .feat, .about-me {
        height: 8vh;
    }
    .prev, .next {
        display:none;
    }
    .mySlides img {
        max-height:190px;
    }
    .mySlides{
        background: none;
        background-color: hsl(351, 47%, 97%);
    }
    #slideshow-container {
        width: 100%;
    }
}

@keyframes navLinkFade {
    from{
        opacity: 0;
        transform:translate(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
}

.toggle .one{
    transform: rotate(-45deg) translate(-5px,5px);
    height: 3px;
}
.toggle .two{
    opacity: 0;
}
.toggle .three{
    transform: rotate(45deg) translate(-5px,-5px);
    height: 3px;
}